{% load i18n %}
<div class="help-block help-warning">
    {% if self.has_usage %}
    {% trans "This choice option is currently in use. Changing or deleting it will affect the following objects:" %}
    <ul>
      {% if self.published_action_count > 0 %}
      <li>
        <span data-controller="w-tooltip" style="text-decoration: underline dotted; cursor: help;">
          {% blocktrans count published_action_count=self.published_action_count %}{{ published_action_count }} published action{% plural %}{{ published_action_count }} published actions{% endblocktrans %}
          <div data-w-tooltip-target="content" hidden>
            <ul style="margin: 0; padding-left: 1.2em; text-align: left;">
              {% with remaining=self.published_action_names|length|add:"-8" %}
              {% if remaining > 1 %}
                {% for name in self.published_action_names|slice:":8" %}<li>{{ name }}</li>{% endfor %}
                <li>{% blocktrans context "X more objects" %}... {{ remaining }} more{% endblocktrans %}</li>
              {% else %}
                {% for name in self.published_action_names %}<li>{{ name }}</li>{% endfor %}
              {% endif %}
              {% endwith %}
            </ul>
            <div>{% trans "Changing (or deleting) this choice option will change (or delete) the choice in all these objects." %}</div>
          </div>
        </span>
      </li>
      {% endif %}
      {% if self.draft_action_count > 0 %}
      <li>
        <span data-controller="w-tooltip" style="text-decoration: underline dotted; cursor: help;">
          {% blocktrans count draft_action_count=self.draft_action_count %}{{ draft_action_count }} action draft{% plural %}{{ draft_action_count }} action drafts{% endblocktrans %}
          <div data-w-tooltip-target="content" hidden>
            <ul style="margin: 0; padding-left: 1.2em; text-align: left;">
              {% with remaining=self.draft_action_names|length|add:"-8" %}
              {% if remaining > 1 %}
                {% for name in self.draft_action_names|slice:":8" %}<li>{{ name }}</li>{% endfor %}
                <li>{% blocktrans context "X more objects" %}... {{ remaining }} more{% endblocktrans %}</li>
              {% else %}
                {% for name in self.draft_action_names %}<li>{{ name }}</li>{% endfor %}
              {% endif %}
              {% endwith %}
            </ul>
            <div>{% trans "Changing (or deleting) this choice option will change (or delete) the choice in all these objects." %}</div>
          </div>
        </span>
      </li>
      {% endif %}
      {% if self.report_count > 0 %}
      <li>
        <span data-controller="w-tooltip" style="text-decoration: underline dotted; cursor: help;">
          {% blocktrans count report_count=self.report_count %}{{ report_count }} report{% plural %}{{ report_count }} reports{% endblocktrans %}
          <div data-w-tooltip-target="content" hidden>
            <ul style="margin: 0; padding-left: 1.2em; text-align: left;">
              {% with remaining=self.report_names|length|add:"-8" %}
              {% if remaining > 1 %}
                {% for name in self.report_names|slice:":8" %}<li>{{ name }}</li>{% endfor %}
                <li>{% blocktrans context "X more objects" %}... {{ remaining }} more{% endblocktrans %}</li>
              {% else %}
                {% for name in self.report_names %}<li>{{ name }}</li>{% endfor %}
              {% endif %}
              {% endwith %}
            </ul>
            <div>{% trans "Changing (or deleting) this choice option will change (or delete) the choice in all these objects." %}</div>
            <div>{% trans "If you would like to keep the current value in reports even after changing or deleting this choice option, please mark the reports using this choice option as complete." %}</div>
            {# Technically it would be enough to mark the actions as complete for those reports, but the text is technical enough as it is. #}
          </div>
        </span>
      </li>
      {% endif %}
    </ul>
    {% endif %}
</div>
