*~
*.mo
/.django_secret
__pycache__/
/db.sqlite3
/node_modules/
/local_settings.py
/static/
/tmp
/*.bz2
/*.xlsx
/.env
/venv/
/Attic/
/media/
/*.sublime-project
/*.sublime-workspace
/data/
/.vscode/
/.idea/
/.envrc
/.direnv/
tags
/docker-compose.override.yml
/kausal_watch_extensions/
