*~
*.mo
*.pyc
*.key
/.django_secret
**/__pycache__
**/node_modules
*.sqlite3
*_cache/**
/local_settings.py
static/**
tmp/**
*.bz2
*.xlsx
.env*
!/.env.test
venv/**
bin/**
Attic/**
media/**
*.sublime-project
*.sublime-workspace
data/**
.vscode/**
.idea/**
.direnv/**
.venv/**
.git
/docker-compose.override.yml
/kausal_watch_extensions
requirements-local.in
requirements-local.txt
