django
-e git+https://github.com/City-of-Helsinki/django-orghierarchy.git#egg=django-orghierarchy
djangorestframework
django-helusers
social-auth-app-django
psycopg2
-e git+https://github.com/neutronX/django-markdownx.git#egg=django-markdownx
django-extensions
