django
-e git+https://github.com/juyrjola/django-orghierarchy.git#egg=django-orghierarchy
djangorestframework
-e git+https://github.com/city-of-helsinki/django-helusers.git#egg=django-helusers
-e git+https://github.com/juyrjola/django-rest-framework-json-api.git#egg=djangorestframework-jsonapi
django-helusers
social-auth-app-django
psycopg2-binary
django-extensions
whitenoise
django-ordered-model
django-environ
markdown
django-filter
lxml
django-cors-headers
python-jose
plotly
django-summernote
ipython  # install for development convenience for now
django-image-cropping
easy-thumbnails
Pillow
