django
-e git+https://github.com/juyrjola/django-orghierarchy.git#egg=django-orghierarchy
djangorestframework
-e git+https://github.com/city-of-helsinki/django-helusers.git#egg=django-helusers
django-helusers
social-auth-app-django
psycopg2-binary
django-markdownx
django-extensions
whitenoise
django-ordered-model
django-environ
markdown
django-filter
djangorestframework-jsonapi
lxml
django-cors-headers
