@import url('https://rsms.me/inter/inter.css');

html, body {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html, body { font-family: 'Inter var', sans-serif; }
}

h1, h2, h3, h4, h5 {
    font-family: inherit;
}

.halloeditor, .tagit, input, select, textarea, .button {
    font-family: inherit;
}

.content .Draftail-Editor .DraftEditor-root,
.content .title .halloeditor,
.content .title input,
.content .title textarea {
    font-family: Georgia, serif;
}

a {
    color: #0A5E43;
}

header {
    background-color: #0A5E43 !important;
}

@media screen and (min-width: 50em) {
    .breadcrumb {
        background-color: #074A35 !important;
    }
}

.summary {
    background-color: #ECEAE6 !important;
}

.nav-wrapper, .nav-wrapper .inner {
    background:#302D2B;
}


.row .changelist-filter li.selected a {
    color: #fff!important;
    border-color: #0A5E43!important;
    background-color: #0A5E43;
}

.row .changelist-filter a {
    background-color: #fff;
    border: 1px solid #0A5E43;
    color: #0A5E43;
}

.row .changelist-filter a:hover {
    background-color: #107251;
    border-color: #0A5E43;
    color: #fff;
}

.tab-nav.merged {
    background-color: #0A5E43;
}

@media screen and (min-width: 50em) {
    .tab-nav.merged {
        background-color: #0A5E43;
    }
}


.tab-nav a {
    background-color: #074A35;
    border-top: .3em solid #074A35;
}

.button {
    background-color: #0A5E43;
    border-color: #0A5E43;
}

.button:hover {
    background-color: #074A35;
}

.dropdown .dropdown-toggle { 
    background-color: #0A5E43;
}

.dropdown.open .dropdown-toggle {
    background-color: #043627;
}

.dropdown .bicolor+.dropdown-toggle, .dropdown .dropdown-toggle:hover {
    background-color: #074A35;
}

.dropdown ul {
    background-color: #0A5E43;
}

.dropdown ul a:hover {
    background-color: #074A35;
}

header .button {
    background-color: #074A35;
}

header .button:hover {
    background-color: #043627;
}


.listing .button-secondary:hover {
    border-color: #0A5E43;
    background-color: #0A5E43;
}

.objects .object>.title-wrapper {
    background-color: #F7F6F3;
}

.objects .object>.title-wrapper:before {
    background-color: #7AD7A4;
}