.c-wagtailautocomplete__selection {
    background-color: #fafafa;
}

.c-wagtailautocomplete__suggestions__item--active {
    background-color: #7AD7A4;
}

.button-secondary {
    color: #fff;
}

footer .actions {
    width: 300px;
}

.action-task-header-state {
    font-weight: 400;
    font-size: 0.9em;
}


div.field.model_choice_field_with_value_in_list.model_select2 label {
    padding-top: 0;
}