.halloeditor, .tagit, input, select, textarea, .button {
    font-family: inherit;
}

.content .Draftail-Editor .DraftEditor-root,
.content .title .halloeditor,
.content .title input,
.content .title textarea {
    font-family: Georgia, serif;
}

a {
    color: #0A5E43;
}

header {
    background-color: #0A5E43 !important;
}

@media screen and (min-width: 50em) {
    .breadcrumb {
        background-color: #074A35 !important;
    }
}

.summary {
    background-color: #ECEAE6 !important;
}

.nav-wrapper, .nav-wrapper .inner {
    background:#302D2B;
}


.row .changelist-filter li.selected a {
    color: #fff!important;
    border-color: #0A5E43!important;
    background-color: #0A5E43;
}

.row .changelist-filter a {
    background-color: #fff;
    border: 1px solid #0A5E43;
    color: #0A5E43;
}

.row .changelist-filter a:hover {
    background-color: #107251;
    border-color: #0A5E43;
    color: #fff;
}

.tab-nav.merged {
    background-color: #0A5E43;
}

@media screen and (min-width: 50em) {
    .tab-nav.merged {
        background-color: #0A5E43;
    }
}


.tab-nav a {
    background-color: #074A35;
    border-top: .3em solid #074A35;
}

.button {
    background-color: #0A5E43;
    border-color: #0A5E43;
}

.button:hover {
    background-color: #074A35;
}

.dropdown .dropdown-toggle {
    background-color: #0A5E43;
}

.dropdown.open .dropdown-toggle {
    background-color: #043627;
}

.dropdown .bicolor+.dropdown-toggle, .dropdown .dropdown-toggle:hover {
    background-color: #074A35;
}

.dropdown ul {
    background-color: #0A5E43;
}

.dropdown ul a:hover {
    background-color: #074A35;
}

header .button {
    background-color: #074A35;
}

header .button:hover {
    background-color: #043627;
}


.listing .button-secondary:hover {
    border-color: #0A5E43;
    background-color: #0A5E43;
}

.objects .object>.title-wrapper {
    background-color: #F7F6F3;
}

.objects .object>.title-wrapper:before {
    background-color: #7AD7A4;
}

/* Condensed inline panel override */

/* Do not let panel rows overflow the parent */

.object .object-layout_big-part {
    max-width: 100%;
}

.condensed-inline-panel__card-header > h2 {
    font-size: 1rem;
}

/* Contact persons list override */

/* Add fa-icons and highlight main contact person,
expects main contact as 3rd element in container */

#id_contact_persons .condensed-inline-panel__card:nth-child(3) > .condensed-inline-panel__card-header h2::before {
    content: "\f2bd";
    color: #0A5E43;
}

#id_contact_persons .condensed-inline-panel__card-header h2::before,
#id_contact_persons .condensed-inline-panel__card-header::before {
    font-family: FontAwesome;
    font-style: normal;
    content: "\f2be";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    speak: none;
    text-decoration: none;
    width: 1.3em;
    line-height: 1em;
    text-align: left;
    vertical-align: middle;
    margin-right: .5em;
    color: #aaaaaa;
}

/* Add drag fa-icon as pseudo-element */

#id_contact_persons .condensed-inline-panel__card-header h2 {
    margin-left: 1.25rem;
}

#id_contact_persons .condensed-inline-panel__card-header::before {
    content: "\f047";
    position: absolute;
    left: 0;
    top: 0;
    padding: 1.25rem .75rem;
    margin: 0;
    width: .5rem;
}

#id_contact_persons .condensed-inline-panel__card:hover .condensed-inline-panel__card-header::before {
    color: #0A5E43;
}

/* Prevent calendar icon from blocking datefield clicks */

.date_field .input::before, .date_time_field .input::before {
    pointer-events: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #0A5E43 !important;
}

.alc__root {
    background-color: #0A5E43 !important;
}

.alc__block.own-action-filter label {
    font-size: 80%;
    color: white;
}
