{% load i18n wagtailadmin_tags %}

<li>
    {% icon name="kausal-indicator" %}
    <a href="{% url 'indicators_indicator_modeladmin_index' %}">
    {% blocktranslate count counter=total_indicators with total=total_indicators|intcomma plan=plan.name %}
        <span>{{ total }}</span> indicator <span class="w-sr-only">monitored in {{ plan }}</span>
    {% plural %}
        <span>{{ total }}</span> indicators <span class="w-sr-only">monitored in {{ plan }}</span>
    {% endblocktranslate %}
    </a>
</li>
