{% extends "wagtailadmin/base.html" %}
{% load i18n modeladmin_tags %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block content %}

    {% block header %}
        {% include "wagtailadmin/shared/header.html" with title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon %}
    {% endblock %}

    {% block content_main %}
        <div class="nice-padding">
            {% block confirmation_message %}
                <p>{{ view.confirmation_message }}</p>
            {% endblock %}
            <form action="{{ view.post_url }}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="user_pk" value="{{view.target_person.user.pk}}">
                <input type="submit" value="{% trans 'Yes' %}" class="button button-primary" />
                <a href="{{ view.index_url }}" class="button button-secondary">{% trans "No" %}</a>
            </form>
        </div>
    {% endblock %}
{% endblock %}
