{% extends "wagtailadmin/base.html" %}
{% load static wagtailimages_tags wagtailadmin_tags sentry %}
{% load i18n %}


{% block branding_title %}
    {% if active_plan.short_name %}
        {{ active_plan.short_name|title }} - {% trans "Administration" %}
    {% else %}
        {{ active_plan.name|title }} - {% trans "Administration" %}
    {% endif %}
{% endblock %}


{% block branding_logo %}
    {% if active_client and active_client.logo %}
        {% image active_client.logo width-80 %}
        <!-- <h5>{{ active_plan.name }}</h5> -->
    {% else %}
        <img src="{% static 'images/kausal-avatar-dark-green.svg' %}" alt="Kausal Logo" width="80" />
    {% endif %}

{% endblock %}

{% block extra_css %}
{% comment %} abusing css block to inject meta tags in the right place {% endcomment %}
{% sentry_js %}
{% endblock %}

{% block js %}
    <script src="{% static 'admin_site/js/notifications.js' %}"></script>
    {{ block.super }}
    {% sentry_init %}
    {# Workaround for being able to navigate to the action button's dropdown menu with the keyboard #}
    <script>
      $(document).ready(function () {
        const dropdownButton = document.querySelector('form footer .dropdown-toggle');
        if (dropdownButton != null) {
          dropdownButton.tabIndex = 0;
          dropdownButton.addEventListener('keydown', (e) => (e.code === "Space" || e.code === "Enter") && dropdownButton.click());
        }
      });
    </script>
    {# Set role alert for notifications for accessibility #}
    

    {% if request.user.is_hijacked %}
        {% include "admin_site/release_impersonation.html" %}
    {% endif %}


{% endblock %}
