{% extends "wagtailadmin/login.html" %}
{% load wagtailimages_tags wagtailadmin_tags i18n static %}
{% block titletag %}{% trans "Sign in" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        .login-form {
            display: none;
        }
    </style>
{% endblock %}

{% block branding_logo %}
    <div class="login-logo">
        <img src="{% static 'images/kausal-avatar-dark-green.svg' %}" alt="Kausal Logo" width="80" />
    </div>
{% endblock %}

{% block branding_login %}{% if form.client and form.client.login_header_text %}{{ form.client.login_header_text }}{% else %}{% trans "Sign in to Kausal Watch" %}{% endif %}{% endblock %}

{% block above_login %}
    {% if form.client and form.client.logo %}
        {% image form.client.logo width-256 %}
    {% endif %}
    <a href="{% url 'auth_login' %}?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'wagtailadmin_home' %}{% endif %}">
        <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Signing in…' %}" style="margin-bottom: 2em; margin-top: 4em">
            <span class="icon icon-spinner"></span><em>{% if form.client and form.client.login_button_text %}{{ form.client.login_button_text }}{% else %}{% trans 'Sign in using your organization account' %}{% endif %}</em>
        </button>
    </a>
    <p><a href="#" id="password-signin-display-button" style="cursor: pointer; text-decoration: none; color: inherit">{% trans "If you have a separate password, click here to sign in" %}</a></p>
    {% block below_login %}{% endblock %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function(){
        $('form input[name=username]').trigger('focus');
    });
    $(function(){
        $('#password-signin-display-button').click(function() {
            $('.login-form').show();
        });
    });
</script>
{% endblock %}
