{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags static %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block extra_css %}
    {{ block.super }}

    {{ edit_handler.form.media.css }}

    {{ view.media.css }}
    <link rel="stylesheet" href="{% static 'ag-grid-community/dist/styles/ag-grid.css' %}">
    <link rel="stylesheet" href="{% static 'ag-grid-community/dist/styles/ag-theme-alpine.css' %}">
    <style>
        .ag-sort-ascending-icon {
            display: none;
        }
        .section {
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 1rem;
        }
        .ag-cell.value-changed {
            background-color: #efe;
        }
        .ag-cell.value-required {
            background-color: #fee;
        }
        #breadcrumb-navi {
            padding-left: 40px;
        }
    </style>
{% endblock %}

{% block extra_js %}
    {{ block.super }}

    {{ edit_handler.form.media.js }}
    {{ edit_handler.html_declarations }}

    {{ view.media.js }}
    <script src="{% static 'ag-grid-community/dist/ag-grid-community.noStyle.js' %}"></script>
    {% comment %}
    <script src="{% static 'moment/dist/moment.js' %}"></script>
    <script src="{% static 'moment/dist/locale/fi.js' %}"></script>
    <script src="{% static 'moment/dist/locale/en-gb.js' %}"></script>
    <script src="{% static 'moment/dist/locale/sv.js' %}"></script>
    {% endcomment %}
{% endblock %}


{% block content %}
    {% csrf_token %}
    {% get_current_language as current_language %}
    {% block header %}
        {% include "wagtailadmin/shared/header.html" with title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon tabbed=1 merged=1 %}
        <section id="breadcrumb-navi">
            <ul class="breadcrumb">
                <li class="home"><a href="#" class="icon icon-home text-replace">{% trans "Home" %}</a></li>
                <li><a href="{% url 'indicators_indicator_modeladmin_index' %}">{% trans "Indicators" %}</a></li>
                <li><a href="{{ view.edit_url|escape }}">{{ instance.name }}</a></li>
                <li>{% trans "Indicator data" %}</li>
            </ul>
        </section>
        <header class="merged hasform">
            <div class="row nice-padding">
                <div class="left">
                </div>
            <div class="right">
            </div>
        </header>
        <ul class="tab-nav merged">
            <li class="active"><a href="#">{% trans "Observations" %}</a></li>
            <li><a href="#">{% trans "Goals" %}</a></li>
        </ul>

    {% endblock %}

    <div id="data-grid" class="ag-theme-alpine section"></div>
    <div id="data-grid-controls" class="section">
        <button onclick="addRow()" type="button" class="button bicolor button--icon" id="add-row-button">
            <span class="icon-wrapper"><svg class="icon icon-plus" aria-hidden="true" focusable="false"><use href="#icon-plus"></use></svg></span>
            {% trans "Add row" %}
        </button>
        <button onclick="onRemoveSelected()" type="button" class="button bicolor button--icon no disabled" id="remove-selected">
            <span class="icon-wrapper"><svg class="icon icon-bin" aria-hidden="true" focusable="false"><use href="#icon-bin"></use></svg></span>
            {% trans "Remove row" %}
        </button>
        <button id="save-changes-button" type="button" class="button bicolor button--icon">
            <span class="icon-wrapper"><svg class="icon icon-tick" aria-hidden="true" focusable="false"><use href="#icon-tick"></use></svg></span>
            {% trans "Save changes" %}
        </button>
    </div>

    <script type="text/javascript" charset="utf-8">
        var dimensions = {{dimensions|safe}};
        var values = {{values|safe}};
        var timeResolution = '{{ instance.time_resolution }}';
        var currentLanguage = '{{ current_language }}';
        let rows = {};

        for (let val of values) {
            if (!(val.date in rows))
                rows[val.date] = {date: val.date};
            const row = rows[val.date];
            val.categories.sort();
            var key = val.categories.length ? val.categories.join('-') : 'default';
            row[key] = val.value;
        }

        rows = Object.values(rows).map((row) => {
            return {
                ...row,
                _initial: {...row},
            }
        });

        function dateGetter({ data }) {
            if (timeResolution === 'year') {
                const val = data.date;
                if (!val) return;
                return parseInt(data.date.split('-')[0], 10);
            } else {
                const val = data.date;
                if (!val) return;
                return val;
            }
        }
        function dateSetter(params) {
            if (timeResolution === 'year') {
                const val = parseInt(params.newValue, 10);
                if (val < 1900 || val > 2200 || isNaN(val)) return false;
                params.data.date = val.toString() + '-12-31';
                return true;
            } else {
                const val = params.newValue;

                if (!val || typeof val !== 'string') return false;
                var ts = Date.parse(val);
                if (isNaN(ts)) return false;
                var date = new Date(ts);
                if (date.getFullYear() < 1900 || date.getFullYear() > 2200) return false;
                params.data.date = date.toISOString().split('T')[0];
                return true;
            }
        }

        function valueGetter(params) {
            const { node, data, colDef } = params;
            let val = data[colDef.field];
            if (val == undefined) val = null;
            return val;
        }

        function valueSetter(params) {
            const { newValue, oldValue, colDef, data, node } = params;
            let val;

            val = newValue;
            if (val == undefined || val == '')
                val = null;

            if (val != null) {
                val = parseFloat(val);
                if (isNaN(val)) return false;
            }
            if (val == null)
                delete data[colDef.field];
            else
                data[colDef.field] = val;
            return true;
        }

        const cellClassRules = {
            'value-required': ({ data, colDef, value }) => {
                let valueRequired;

                dimKeys = Object.keys(data).filter((key) => key !== 'default' && key !== 'date' && key !== '_initial');
                if (Object.keys(dimKeys).length || colDef.field === 'default' || colDef.field === 'date')
                    valueRequired = true;

                if (valueRequired && (value == null || value == undefined))
                    return true;
                },
            'value-changed': ({ data, colDef, value }) => {
                if (!data._initial) return true;
                let initialValue;
                if (colDef.field == 'date') {
                    initialValue = dateGetter({ data: data._initial });
                } else {
                    initialValue = data._initial[colDef.field];
                    if (initialValue == undefined) initialValue = null;
                }
                return value != initialValue;
            },
        };

        var dateColumn = {
            editable: true,
            sortable: true,
            sortingOrder: ['asc'],
            field: 'date',
            checkboxSelection: true,
            minWidth: 150,
            valueGetter: dateGetter,
            valueSetter: dateSetter,
            cellClassRules,
            comparator: function(valA, valB, nodeA, nodeB, isInverted) {
                if (!valA) return 1;
                if (!valB) return -1;

                if (typeof valA === 'string') {
                    return valA.localeCompare(valB);
                } else {
                    return valA - valB;
                }
            }
        };

        if (timeResolution === 'year') {
            dateColumn.headerName = "{% trans 'Year'|escape %}";
        } else {
            dateColumn.headerName = "{% trans 'Date'|escape %}";
        }

        var columnDefs = [dateColumn];
        var columnGroup = {};
        var current = columnGroup;
        const valueColDef = {
            valueGetter,
            valueSetter,
            cellClassRules,
            type: 'numericColumn',
        }

        // specify the columns
        columnDefs.push({
            headerName: "{{ instance.quantity.name|default:''|capfirst|escape }}",
            children: [{
                headerName: "{{ instance.unit.verbose_name_plural|default:instance.unit.name|capfirst|escape }}",
                field: 'default',
                ...valueColDef,
            }],
        });


        function fillChildren(parentChildren, dims, fieldIds) {
            var dim = dims[0];

            for (var cat of dim.categories) {
                var rest = dims.slice(1);
                var ids = fieldIds.concat([cat.id]);
                var out = {
                    headerName: cat.name,
                    headerTooltip: dim.name,
                }

                if (!rest.length) {
                    out.field = ids.sort().join('-');
                    Object.assign(out, valueColDef);
                } else {
                    out.children = [];
                    fillChildren(out.children, rest, ids);
                }
                parentChildren.push(out);
            }
        }

        if (dimensions.length)
            fillChildren(columnDefs, dimensions, []);

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowData: rows,
            domLayout: "autoHeight",
            animateRows: true,
            undoRedoCellEditing: true,
            undoRedoCellEditingLimit: 30,
            defaultColDef: {
                resizable: true,
                editable: true,
                suppressMovable: true,
            },
            rowSelection: 'multiple',
            suppressRowClickSelection: true,
            stopEditingWhenGridLosesFocus: true,
        };

        // lookup the container we want the Grid to use
        var eGridDiv = document.querySelector('#data-grid');

        // create the grid passing in the div to use together with the columns & data we want to use
        var grid = new agGrid.Grid(eGridDiv, gridOptions);

        const { api, columnApi } = gridOptions;

        if (!api.getModel().getRowCount()) {
            // Add initial row
            addRow();
        }

        api.setSortModel([{colId: 'date', sort: 'asc'}]);

        const allColumnIds = columnApi.getAllColumns().map((col) => col.colId);
        columnApi.autoSizeColumns(allColumnIds, false);

        const saveChangesButton = $('#save-changes-button');
        const removeRowsButton = $('#remove-selected');

        function setSaveButtonState() {
            if ($('.ag-cell.value-required').length || !$('.ag-cell.value-changed').length) {
                saveChangesButton.addClass('disabled');
            } else {
                saveChangesButton.removeClass('disabled');
            }
        }
        setSaveButtonState();

        api.addEventListener('cellEditingStopped', (ev) => {
            api.onSortChanged();
            api.refreshCells(ev.node);
            setSaveButtonState();
        });
        api.addEventListener('selectionChanged', (ev) => {
            if (!api.getSelectedRows().length)
                removeRowsButton.addClass('disabled');
            else
                removeRowsButton.removeClass('disabled');
        });
        saveChangesButton.on('click', (ev) => {
            if (saveChangesButton.hasClass('disabled')) {
                return false;
            }
            saveChanges();
        });

        function addRow() {
            var lastDate, newItem = {};

            api.forEachNode(function(node) {
                if (!lastDate || node.data.date > lastDate) {
                    lastDate = node.data.date;
                }
            });

            if (lastDate && timeResolution === 'year') {
                var date = new Date(Date.parse(lastDate));
                date.setYear(date.getFullYear() + 1);
                newItem.date = date.getFullYear() + '-12-31';
            }
            api.applyTransaction({ add: [newItem] });
        }

        function onRemoveSelected() {
            var selectedData = api.getSelectedRows();
            api.applyTransaction({ remove: selectedData });
        }

        window.addEventListener('beforeunload', (event) => {
            const isDirty = $('.ag-cell.value-changed').length > 0;

            if (isDirty) {
                const confirmationMessage =
                    '{% trans "Your changes have not been saved. Are you sure you want to exit?"|escape %}';
                event.returnValue = confirmationMessage;
                return confirmationMessage;
            }
        });


        function saveChanges() {
            var uri = "{{ post_values_uri|escape }}";
            const data = [];

            api.forEachNode((node) => {
                const { data: row } = node;
                const date = row.date;

                Object.entries(row).forEach(([key, val]) => {
                    let catIds = [];
                    if (key === '_initial' || key === 'date')
                        return;
                    if (key !== 'default')
                        catIds = key.split('-').map((x) => parseInt(x));
                    data.push({date, value: val, categories: catIds });
                });
            });

            $('.icon', saveChangesButton).removeClass('icon-tick').addClass('icon-spinner')
                .find('use').attr('href', '#icon-spinner');

            $.post({
                url: uri,
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                complete: (xhr, status) => {
                    console.log('complete');
                    $('.icon', saveChangesButton).removeClass('icon-spinner').addClass('icon-tick')
                        .find('use').attr('href', '#icon-tick');
                    if (status !== 'success') {
                        alert("{% trans 'Unable to save changes'|escape %}");
                    } else {
                        api.forEachNode((node) => {
                            const { data } = node;
                            const { _initial, ...rest } = data;
                            data._initial = { ...rest };
                            api.refreshCells(node);
                        });
                        saveChangesButton.addClass('disabled')
                        addMessage('success', '{% icon name="success" class_name="messages-icon"|escape %}{% trans "Changes were saved"|escape %}');
                        const clearMessages = setTimeout(function() {
                            $('.messages').empty();
                            clearTimeout(clearMessages);
                        }, 2000);
                    }
                }
            });
        }
    </script>
{% endblock %}
