{% load i18n wagtailadmin_tags %}

<li>
    <span class="icon icon-fa-cubes"></span>
    <a href="{% url 'actions_action_modeladmin_index' %}">
    {% blocktrans count counter=active_actions with active_actions|intcomma as n %}
        <span>{{ n }}</span> active action <span class="visuallyhidden">monitored in {{ plan.name }}</span>
    {% plural %}
        <span>{{ n }}</span> active actions <span class="visuallyhidden">monitored in {{ plan.name }}</span>
    {% endblocktrans %}
    </a>
</li>
