.result-list {
  overflow-x: scroll;
  overflow-y: hidden;
}
.listing.full-width {
  margin-bottom: -1.5em;
}

.warning-row {
  background-color: var(--w-color-warning-50);
}
.warning-row:hover {
  background-color: var(--w-color-warning-50) !important;
}
