.result-list {
  overflow-x: scroll;
  overflow-y: hidden;
}
.listing.full-width {
  margin-bottom: -1.5em;
}

.warning-row {
  background-color: var(--w-color-warning-50);
}
.warning-row:hover {
  background-color: var(--w-color-warning-50) !important;
}

.person-role {
  margin: 0 0.25em 0.25em 0;
  white-space: nowrap;
}
.person-role--plan_admin {
  background-color: var(--w-color-primary);
  color: var(--w-color-white);
}
.person-role--organization_admin {
  background-color: var(--w-color-info-100);
  color: var(--w-color-white);
}
.person-role--contact_person {
  background-color: var(--w-color-positive-100);
  color: var(--w-color-white);
}
.person-role--viewer {
  background-color: var(--w-color-grey-100);
  color: var(--w-color-grey-600);
}

.person-listing-wrapped-header {
  display: inline-block;
  width: min-content;
  white-space: normal;
}
