{% extends "modeladmin/edit.html" %}
{% load i18n wagtailadmin_tags %}

{# This header is overridden from modeladmin/edit.html to support adding more context
   for actions in the header description parameter #}
{% block header %}
    {% include "modeladmin/includes/header_with_history.html" with title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon merged=1 latest_log_entry=latest_log_entry history_url=history_url description=view.get_description %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {# Copied from wagtail/admin/templates/wagtailadmin/pages/edit.html #}
    <script>
        {# FIXME: This will break eventually. #}
        {# https://docs.wagtail.org/en/stable/releases/5.2.html#window-updatefootersavewarning-global-util-removed #}
        window.updateFooterSaveWarning = (formDirty, commentsDirty) => {
          if (!formDirty && !commentsDirty) {
            document.dispatchEvent(new CustomEvent('w-unsaved:clear'));
          } else {
            const [type] = [
              formDirty && commentsDirty && 'all',
              commentsDirty && 'comments',
              formDirty && 'edits',
            ].filter(Boolean);
            document.dispatchEvent(new CustomEvent('w-unsaved:add', { detail: { type } }));
          }
        };

        $(function() {
            /* Make user confirm before leaving the editor if there are unsaved changes */
            {% trans "This page has unsaved changes." as confirmation_message %}
            {# FIXME: enableDirtyFormCheck is deprecated #}
            enableDirtyFormCheck(
                'div.content > form',
                {
                    confirmationMessage: '{{ confirmation_message|escapejs }}',

                    {% if has_unsaved_changes %}
                        alwaysDirty: true,
                    {% endif %}

                    //commentApp: window.comments.commentApp,
                    callback: window.updateFooterSaveWarning
                }
            );
        });
    </script>
    {% if workflow_enabled %}
        {# The following include uses a selector that gets the <form> by looking for the attribute data-edit-form. #}
        {# We add this attribute to the <form> in create.html, but unfortunately have to duplicate a lot of code from #}
        {# modeladmin #}
        {% include "wagtailadmin/shared/_workflow_init.html" %}
    {% endif %}
{% endblock %}

{% block more_action_items %}
    {% if user_can_delete %}
        <a href="{{ view.delete_url }}" class="button">{% trans "Delete" %}</a>
    {% endif %}

    <button
        type="submit"
        class="button action-save button-longrunning w-w-full"
        data-controller="w-progress"
        data-action="w-progress#activate"
        data-w-progress-active-value="{% trans 'Saving…' %}"
        name="_continue"
    >
        {% icon name="spinner" %}
        <em data-w-progress-target="label">{% trans 'Save and continue editing' %}</em>
    </button>
{% endblock %}
