{% extends "wagtailadmin/admin_base.html" %}
{% load wagtailimages_tags wagtailadmin_tags i18n %}
{% block titletag %}{% trans "Sign in" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/login.css' %}" type="text/css" />
{% endblock %}

{% block furniture %}
    <main class="content-wrapper" role="main">
        {% if messages or form.errors %}
            <div class="messages">
                <ul>
                    {% if form.errors %}
                        <li class="error">{% blocktrans %}Your {{ username_field }} and password didn't match. Please try again.{% endblocktrans %}</li>
                    {% endif %}
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block above_login %}{% endblock %}

        <h1 style="margin-bottom: 2em; margin-top: 2em; font-size: 2rem;">{% block branding_login %}{% if form.header_text %}{{ form.header_text }}{% else %}{% trans "Sign in to Kausal Watch" %}{% endif %}{% endblock %}</h1>

        {% for client in form.clients %}


        <div style="margin-bottom: 5em; display: flex; align-items: flex-end; ">
          {% if client and client.azure_ad_tenant_id %}
          <div>
        <div style="padding-bottom: 0.5em;">
        {% if client and client.logo %}
        {% image client.logo width-128 %}
        {% endif %}
        </div>
        <p style="margin-top: 4px; margin-bottom: 4px; font-size: 120%; font-weight: bold; text-transform: uppercase;">{% if client and client.login_button_text %}{{ client.login_button_text }}{% endif %}</p>
        <a href="{% url 'auth_login' %}?client={{ client.id }}&next={% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'wagtailadmin_home' %}{% endif %}">
            <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Signing in…' %}" style="margin-bottom: 0em; margin-top: 0em; min-width: 400px">
                <span class="icon icon-spinner"></span><em>{% trans 'Sign in' %}</em>
            </button>
        </a>
        </div>
        {% endif %}

        </div>
        {% endfor %}
        {% if form.hide_login_form %}<p><a href="#id_username" id="password-signin-display-button" style="cursor: pointer; text-decoration: none; color: inherit">{% trans "If you have a separate password, click here to sign in" %}</a></p>{% endif %}

        <form id="password-signin-form" action="{% url 'wagtailadmin_login' %}" method="post" autocomplete="off" novalidate {% if not form.errors and form.hide_login_form %} style="display: none; {% endif %}">
            {% block login_form %}
            {% csrf_token %}

            {% url 'wagtailadmin_home' as home_url %}
            <input type="hidden" name="next" value="{{ next|default:home_url }}" />

            <ul class="fields">
                {% block fields %}
                <li class="full">
                    <div class="field iconfield">
                        {{ form.username.label_tag }}
                        <div class="input icon-user">
                            {{ form.username }}
                        </div>
                    </div>
                </li>
                <li class="full">
                    <div class="field iconfield">
                        {{ form.password.label_tag }}
                        <div class="input icon-password">
                            {{ form.password }}
                            {% if show_password_reset %}
                                <a class="help" style="top: 40px" href="{% url 'wagtailadmin_password_reset' %}" aria-label="{% trans 'Reset your password' %}">{% trans "Forgotten it?" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </li>

                {% block extra_fields %}
                {% for field_name, field in form.extra_fields %}
                <li class="full">
                    {{ field.label_tag }}
                    <div class="field iconfield">
                        {{ field }}
                    </div>
                </li>
                {% endfor %}
                {% endblock extra_fields %}

                {% endblock %}
                <li class="submit">
                    {% block submit_buttons %}
                    <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Signing in…' %}"><span class="icon icon-spinner"></span><em>{% trans 'Sign in' %}</em></button>
                    {% endblock %}
                </li>
            </ul>
        {% endblock %}
        </form>

        {% block below_login %}{% endblock %}

    </main>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function(){
        $('form input[name=username]').trigger('focus');
    });
    $(function(){
        $('#password-signin-display-button').click(function() {
            $('#password-signin-form').show();
        });
    });
</script>
{% endblock %}
